/* .collectionDetail {
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.collectionDetail h3 {
    width: 100%;
    margin-bottom: 0;
    text-decoration: underline;
} */

/* .collectionDetail .album-list,
.collectionDetail .song-list {
    width: 100%;
    display: contents;
}

.collectionDetail h3 {
    width: 100%;
    margin-bottom: 2rem;
    text-decoration: underline;
}

.collectionDetail.grid {
    gap: 50px 50px;
}

.collectionDetail.grid img {
    width: 230px;
    height: 230px;
    margin-right: 1rem;
}

.collectionDetail.grid .album-list>div,
.collectionDetail.grid .song-list>div {
    width: 30%;
    height: 250px;
}

.collectionDetail.column {
    gap: 50px 50px;
    align-items: stretch;
}

.collectionDetail.column .album-list>div,
.collectionDetail.column .song-list>div {
    width: 20%;
    display: inline-block;
    height: 450px;

}

.collectionDetail.column .album-list>div img,
.collectionDetail.column .song-list>div img {
    width: 300px;
    height: 300px;
    margin-bottom: 1rem;
}

.collectionDetail.column .album-list>div>div,
.collectionDetail.column .song-list>div>div {
    width: 100%;
    
} */


/* .collectionDetail.list h3{
    margin-bottom: 2rem;
}

.collectionDetail.grid {
    gap: 50px 50px;
}

.collectionDetail.grid img {
    width: 230px;
    height: 230px;
    margin-right: 1rem;
}

.collectionDetail.grid>div {
    width: 30%;
    height: 250px;
}

.collectionDetail.column {
    gap: 50px 50px;
    align-items: stretch;
}

.collectionDetail.column>div {
    width: 20%;
    display: inline-block;
    height: 450px;

}

.collectionDetail.column>div img {
    width: 300px;
    height: 300px;
    margin-bottom: 1rem;
}

.collectionDetail.column>div>div {
    width: 100%;
    
} */


.collectionDetail {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 5rem;
}

.collectionDetail h3 {
    width: 100%;
    text-decoration: underline;
}

.collectionDetail.list h3 {
    margin-bottom: 3rem;
}

.collectionDetail.list>div.album-wrapper,
.collectionDetail.list>div.track-wrapper {
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}

.collectionDetail.list>div.album-wrapper:last-child, 
.collectionDetail.list>div.track-wrapper:last-child {
    border: none;
}

.collectionDetail.grid,
.collectionDetail.column {
    gap: 50px 50px;
}

.collectionDetail.grid>div.album-wrapper,
.collectionDetail.grid>div.track-wrapper {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.collectionDetail.column>div.album-wrapper,
.collectionDetail.column>div.track-wrapper {
    height: unset;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.collectionDetail.column>div.album-wrapper>div:first-child,
.collectionDetail.column>div.track-wrapper>div:first-child {
    display: block;
}

.collectionDetail.column>div.album-wrapper>div
.collectionDetail.column>div.track-wrapper>div {
    width: 100%;   
}