.collectionDetail {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 5rem;
}

.collectionDetail h3 {
    width: 100%;
    text-decoration: underline;
}

.collectionDetail.list h3 {
    margin-bottom: 3rem;
}

.collectionDetail.list>div.album-wrapper,
.collectionDetail.list>div.track-wrapper {
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}

.collectionDetail.list>div.album-wrapper:last-child, 
.collectionDetail.list>div.track-wrapper:last-child {
    border: none;
}

.collectionDetail.grid,
.collectionDetail.column {
    gap: 50px 50px;
}

.collectionDetail.grid>div.album-wrapper,
.collectionDetail.grid>div.track-wrapper {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.collectionDetail.column>div.album-wrapper,
.collectionDetail.column>div.track-wrapper {
    height: unset;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.collectionDetail.column>div.album-wrapper>div:first-child,
.collectionDetail.column>div.track-wrapper>div:first-child {
    display: block;
}

.collectionDetail.column>div.album-wrapper>div
.collectionDetail.column>div.track-wrapper>div {
    width: 100%;   
}