.collections form {
    padding-top: 2rem;
}

.collections .row {
    width: 60%;
    margin: 0 auto;
}

.collections input {
    padding: 8px 12px;
}

.collections .btnSecondary {
    margin-left: 2rem;
}

.collections form .btnSecondary {
    background-color: grey;
}

.collections form .btnSecondary:disabled {
    background: var(--button-disable-bg);
    border-color: var(--button-disable-bg);
    color: var(--button-disable-color);
    cursor: not-allowed;
}

.collection-sort {
    display: flex;
    justify-content: end;
    margin-right: 2rem;
}

.collection-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
    gap: 3rem;
    padding-bottom: 2rem;
    margin-bottom: 5rem;
}

.collection {
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 1rem;
}

.collection a {
    text-decoration: none;
    color: var(--font-color);
}

.collection img {
    float: left;
    width: 250px;
    height: 250px;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

.collection .noimage {
    float: left;
    width: 250px;
    height: 250px;
    border-radius: 0.5rem;
    border: 1px solid #f9c762;
    padding: 2rem 1rem 0;
    margin-bottom: 1rem;
    font-weight: bold;
    margin-right: 0.5rem;
}

.collection a svg {
    width: 1rem;
    height: 1rem;
}

.collection-wrapper .collection div {
    flex-shrink: 0;
}

.collection-wrapper .collection p {
    text-align: left;
    font-size: 12px;
}

/* .collection-wrapper .collection p:last-child {
    margin-bottom: 2rem;
} */