.view-icons {
    text-align: right;
}

.view-icons svg {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    box-sizing: border-box;
}


.viewRadioGroup {
    display: flex;
    align-items: center;
    margin: 20px 130px;
    overflow: hidden;
    justify-content: flex-end;
}

.viewRadioGroup input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.viewRadioGroup label {
    color: var(--color);
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
}

.viewRadioGroup input[type=radio]:checked + label {
    color: var(--active);
}