.control {
    margin: 1rem 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.control label,
.control input,
.control select,
.control span {
    display: block;
}

.control label {
    font-weight: bold;
    flex: 1;
    margin-bottom: 0.5rem;
}

.control input,
.control select,
.control span {
    flex: 3;
    font: inherit;
    padding: 0.35rem 0.35rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.control input:focus,
.control select:focus {
    outline: none;
    color: var(--input-active-color);
    border-color: var(--input-active-border);
    background: var(--input-active-bg);
}

.control.invalid input,
.control.invalid select {
    border-color: red;
    background: #fbdada;
}


.control input[readOnly],
.control input[readOnly]:focus,
.control span.readOnly,
.control span.readOnly:focus {
    text-align: left;
    border: none;
    outline: none;
    border-color: transparent;
    background: transparent;
}


@media (min-width: 768px) {
    .control {
        align-items: center;
        flex-direction: row;
    }

}