.wrapper {
    display: flex;
    width: 100%;
    height: 120px;
    padding: 8px;
    text-align: left;
    border-radius: 4px;;
    box-sizing: border-box;
}

.wrapper:nth-child(2n) {
    background-color: #e6e6e6;    
}

img {
    float: left;
    margin-right: 1rem;
}

.noimage {
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid #f9c762;
    margin-right: 1rem;
    padding: 8px;
    box-sizing: border-box;
    font-weight: bold;
}

h4 {
    margin-top: 4px;
    margin-bottom: 8px;
    text-overflow: hidden;
}

p {
    margin: 8px 0;
}

span {
    font-size: 12px;
    margin-right: 8px;
}

svg {
    width: 8px;
    height: 8px;
    margin-right: 8px;
}

.genres {
    overflow-x: hidden;
    white-space: nowrap;
    padding: 0;
    margin: 8px 0;
    font-size: 14px;
}

.genres li {
    display: inline;
}

.genres li:before {
    content: " | "
}

.genres li:first-child:before {
    content: ""
}