.artist {
    display: flex;
    width: 100%;
    padding: 1rem 1rem 0.5rem 1rem;
    text-align: left;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

.artist img,
.artist .noimage {
    width: 8rem;
    height: 8rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
}

.artist .noimage {
    border: 1px solid #f9c762;
    padding: 2rem 1rem 0;
    font-weight: bold;
}

.artist .itemlist {
    padding-left: 0;
}

.artist .itemlist li {
    display: inline;
}

.artist .itemlist li:before {
    content: " | "
}

.artist .itemlist li:first-child:before {
    content: ""
}

.grid .artist img,
.grid .artist .noimage {
    width: 14rem;
    height: 13.5rem;
    margin-right: 1rem;
}

.grid .artist h4,
.grid .artist p,
.grid .artist .itemlist {
    width: 14rem;
}

.column .artist img,
.column .artist .noimage {
    width: 20rem;
    height: 20rem;
    margin-bottom: 1.5rem;
    margin-right: 0;
}

.column .artist h4,
.column .artist p,
.column .artist .itemlist {
    width: 20rem;
}

.small {
    font-size: 12px;
}